# Sample sandboxing profiles for some common applications.
#
# This is WIP and mostly intended for testing.
#
# VARIOUS NOTES:
#
# Some applications actually require their "unsafe" permissions (directives
# suffixed with "!"), while some of them just work better with them.
#
# Menus and windows often have a thick black border in untrusted X11 mode.
# Windows from applications that try to use client-side decorations (most Gnome
# and XFCE applications by default) will not be movable.
#
# Video players are greatly slowed down under untrusted X11 mode.  Fullscreen
# mode will not work.
#
# Under Wayland, some programs won't work without DRM access.
#
# fontconfig will complain about unwritable cache directories.
#
# dconf and dbus will be unusable.  Unveiling their paths probably works, but
# is probably too insecure to make the sandboxing even worth it.
#
# pulseaudio will be unusable, but thankfully some programs just start using
# OSS directly instead.


# XXX Those paths shouldn't be unveiled by default.

[_editor]
~/Documents/				: rw
~/Templates/				: rw

[_browser]
merge _audio
~/Downloads/				: rw

[_p2p]
~/Downloads/				: rw

[_player]
merge _audio
~/Music/				: r
~/Videos/				: r

[_viewer]
~/Pictures/				: r

[_terminal]
merge _pty


[_x11 : _gui]
merge _sock
ability vfs_connect
sockaf unix

[_x11_trusted]
ability-gate sysvipc # MIT-SHM
merge _drm_render

[_x11_all]
${XAUTHORITY-~/.Xauthority}
/tmp/.X11-unix/ : u

[_wayland : _gui]
merge _drm_render

[_drm_base]
/dev/drm/				: rm
/dev/dri/				: rm
/dev/pci				: r
sysctl kern.devname
sysctl dev.drm
sysctl hw.dri
merge _fdpass
~/.drirc
[_drm_full : _drm_base]
ability! any_ioctl # XXX
[_drm_render]
# Needs platform-dependent ioctls from libdrm.
# See /usr/share/examples/curtain/make-drm-render-conf.c

[_xdg]
~/.config/user-dirs.{dirs,locale}

[_fontconfig]
~/.config/fontconfig/			: r
~/.fontconfig/				: r
~/.fonts.conf				: r
~/.fonts.conf.d/			: r
~/.local/share/fonts/			: r
~/.fonts/				: r
/usr/local/etc/fonts/			: r
/var/db/fontconfig/			: r

[_gui : _fontconfig]

[_gtk]
merge _xdg
# Seems like GTK-2 also will use this file.
~/.config/gtk-3.0/bookmarks
sysctl-deny vfs.usermount [_strict]

[_qt _strict]
ability-deny prot_exec
sysctl-deny kern.bootfile # kvm_open(3)

[_memstat]
sysctl hw.physmem
sysctl vm.stats.vm.v_page_size
sysctl vm.stats.vm.v_page_count
sysctl vm.stats.vm.v_wire_count
sysctl vm.stats.vm.v_active_count
sysctl vm.stats.vm.v_inactive_count
sysctl vm.stats.vm.v_laundry_count
sysctl vm.stats.vm.v_cache_count
sysctl vm.stats.vm.v_free_count
sysctl kstat.zfs.misc.arcstats.size


[_misc_shell_utils]
merge curtain

[_shell]
merge _misc_shell_utils

[sh, ksh, ksh93, mksh, oksh, dash, bash, zsh : _bourne]

[_bourne]
merge _basic

[_shell _bourne]
${ENV}					: r

[_login_shell _bourne]
/etc/profile				: r
/usr/local/etc/profile			: r

[_shell bash]
~/.bashrc				: r

[_login_shell bash]
~/.bash_profile				: r
~/.bash_logout				: r

[_shell zsh]
/usr/local/etc/zshenv			: r
/usr/local/etc/zshrc			: r
${ZDOTDIR:-~/}/.zshenv			: r
${ZDOTDIR:-~/}/.zshrc			: r

[_login_shell zsh]
/usr/local/etc/zprofile			: r
/usr/local/etc/zlogin			: r
/usr/local/etc/zlogout			: r
${ZDOTDIR:-~/}/.zprofile		: r
${ZDOTDIR:-~/}/.zlogin			: r
${ZDOTDIR:-~/}/.zlogout			: r

[csh, tcsh : _csh]

[_csh]
merge _basic

[_shell _csh]
/etc/csh.cshrc				: r
~/.{t,}cshrc				: r

[_login_shell _csh]
/etc/csh.log{in,out}			: r
~/.log{in,out}				: r

[_login]
merge _spwddb
/var/run/nologin
/var/run/motd
/etc/login.conf{,.db}
/etc/login.access
/etc/fbtab
/etc/shells
/etc/pam.{conf,d/}
[_login _localbase]
/usr/local/etc/pam.d/

[su : _login]
merge _basic
merge _setcred
ability audit
ability! rsugid_exec
merge _syslog

[doas : _login]
merge _basic
merge _setcred
ability! rsugid_exec
merge _syslog
/usr/local/etc/doas.conf [_localbase]


[vi : _editor]
merge _crude _tty
~/.{n,}exrc				: r
/etc/vi.exrc				: r
# recovery handling needs to be able to read the user database
merge! _pwddb
path! /var/tmp/vi.recover/		: rw


[git]
merge _basic
~/.gitconfig				: r


[top]
merge _basic
sysctl kern.bootfile
sysctl kern.boottime
sysctl kern.ccpu
sysctl kern.cp_time
sysctl kern.cp_times
sysctl kern.lastpid
sysctl kern.smp.active
sysctl kstat.zfs
sysctl vfs.bufspace
sysctl vm.dmmax
sysctl vm.loadavg
sysctl vm.nswapdev
sysctl vm.stats.vm
sysctl vm.swap_info
sysctl vm.swap_maxpages
sysctl hw.acpi.battery

[vmstat]
merge _basic
sysctl kern.devstat
sysctl kern.clockrate
sysctl kern.cp_time kern.cp_times
sysctl vm.stats
sysctl vm.vmtotal
sysctl hw.intrnames hw.intrcnt
sysctl kern.malloc_count vm.malloc kern.malloc_stats
sysctl vm.objects
sysctl vfs.cache.nchstats
sysctl vm.zone_count vm.zone_stats

[swapinfo]
merge _basic
sysctl kern.devname
sysctl vm.swap_info


[ping, ping6]
merge _basic _fdpass
ability cred
priv net_raw netinet_raw
socklvl icmpv6

[traceroute, traceroute6]
merge _basic _fdpass
ability cred
priv net_raw netinet_raw
sysctl net.inet.ip.ttl
sysctl net.inet6.ip6.hlim

[mtr]
merge _basic
ability cred
priv net_raw netinet_raw

[tcpdump]
merge _basic
ability cred
merge _bpf

[wireshark]
merge _basic _gtk
merge _bpf
~/.config/wireshark/			: rw +
ability-deny prot_exec [_strict]

[mdconfig]
merge _basic
ability kmod
ioctls mdctl

[newfs]
merge _basic
ioctls disk_basic

[emacs : _editor]
merge _basic
# NOTE: Sometimes crashes with untrusted X11.
merge! _pwddb
~/.emacs.el				: rw
~/.emacs				: rw
~/.emacs.d/ ~/.config/emacs/		: rw +
merge _gtk [_gui]

[abiword : _editor]
merge _crude _gtk
~/.config/abiword/			: rw +

[gimp : _editor]
# File previews won't work without access to ~/.cache/thumbnails.
merge _crude _proc _cmds _gtk
merge! _memstat
ability ps # exiv2
ability sysvipc
/usr/local/etc/gimp/			: r
~/.config/GIMP/				: rw +
~/.cache/gimp/				: rw +

[inkscape : _editor]
merge _crude _gtk
ability posixipc
~/.cache/inkscape/			: rw +
~/.config/inkscape/			: rw +
/usr/local/bin/inkscape			: i

[libreoffice : _editor]
merge _basic _xdg
ability prot_exec
ability acl # ls(1)
merge! _pwddb
# LibreOffice ignores $TMPDIR for some things.
merge!! _unsafe_system_tmpdir
~/.config/libreoffice/			: rw +

[xpdf : _viewer]
merge _crude _ps _qt _xdg
/usr/local/etc/papersize		: r
/usr/local/etc/xpdfrc			: r
~/.xpdfrc				: rw

[gv : _viewer]
merge _crude _proc _cmds
merge! _shared_system_tmpdir
~/.gv					: r

[epdfview : _viewer]
merge _crude _gtk
~/.config/epdfview/			: rw +

[okular : _viewer]
merge _crude _ps _qt _xdg
merge! _memstat
~/.config/okularrc			: rw +
~/.local/share/okular/			: rw +

[geeqie : _viewer]
merge _crude _proc _ps _cmds _gtk
~/.config/geeqie/			: rw +
~/.local/share/geeqie/			: rw +
~/.cache/geeqie/			: rw +

[shotwell : _viewer]
merge _basic _gtk
# Has trouble saving its configs.
~/.shotwell/				: rw +
~/.local/share/shotwell/		: rw +
~/.cache/shotwell/			: rw +

[gpicview : _viewer]
merge _basic
~/.config/gpicview/			: rw +

[sxiv : _viewer]
merge _basic
~/.config/sxiv/				: rw +
~/.cache/sxiv/				: rw +

[hexchat]
merge _basic _gtk
ability cred
~/.config/hexchat/			: rw +
sysctl-deny machdep.tsc_freq [_strict]

[pidgin]
merge _basic _gtk
~/.purple/				: rw +

[_gecko]
merge _fdpass
merge! _memstat
ability posixipc prot_exec
sysctl-deny kern.proc.vmmap [_strict]

[firefox.base : _browser]
# NOTES:
# - Sometimes crash due to X11 errors with -X.  Works better under -Y/-W.
# - Run with GDK_BACKEND=wayland for -W.  When giving it DRM access, it
#   sometimes doesn't activate until the second start.
# - For some reason the "Save Page As..." file browsing dialog won't show up
#   unless the ~/Download (or XDG alternative) directory already exists.
merge _basic _gtk
merge _gecko
~/.mozilla/firefox/installs.ini
~/.mozilla/firefox/profiles.ini

[firefox : firefox.base]
# Gives access to ALL profiles.
~/.mozilla/firefox/			: rw +
~/.cache/mozilla/firefox/		: rw +

# If you have multiple profiles, you can run them in separate sandboxes.  See
# the sample firefox-profile1.desktop file in /usr/share/examples/curtain/.
# Create a copy of this file and a new section like the one below for each
# profile and update the profile names and paths.
#
# Copying the .desktop files to ~/.local/share/applications/ might be enough to
# make them available in your window manager's menu.
#
# Which profile a window belongs to will probably be hard to tell unless you
# change something in the profile to make it distinctive somehow.
#
# NOTE: You can create new profiles in Firefox by entering "about:profiles" in
# the address bar.
#
#[firefox-profile1 : firefox.base]
#~/.mozilla/firefox/XXXXXXXX.profile1/		: rw +
#~/.cache/mozilla/firefox/XXXXXXXX.profile1/	: rw +


[chrome : _browser]
# NOTE: When running chromium as an "untrusted" X11 client (curtain -X), the
# setting "Use system title bar and borders" in the "Appearance" section must
# be enabled.
merge _basic _fdpassdir _gtk
merge! _memstat
ability posixipc prot_exec sendfile
sysctl-deny kern.bootfile [_strict] # kvm_open(3)
~/.config/chromium/			: rw +
~/.cache/chromium/			: rw +

[thunderbird]
merge _basic _gtk
merge _gecko
~/.thunderbird/				: rw +
~/.cache/thunderbird/			: rw +

[_webkit]
merge _fdpass
merge! _memstat
ability prot_exec
sysctl-deny kern.bootfile [_strict] # kvm_open(3)

[falkon : _browser]
merge _basic _xdg
merge _webkit
~/.config/falkon/			: rw +
~/.cache/falkon/			: rw +

[otter-browser : _browser]
merge _basic _xdg
merge _webkit
~/.config/otter/			: rw +
~/.cache/Otter/				: rw +

[qbittorrent : _p2p]
merge _crude _unix _ps _network _qt _xdg
# NOTE: Best to disable the tray icon feature under -X.
~/.local/share/qBittorrent/		: rw +
~/.config/qBittorrent/			: rw +
~/.cache/qBittorrent/			: rw +
sysctl-deny hw.physmem [_strict]

[deluge : _p2p]
merge _basic
# XXX needs dbus
~/.config/deluge/			: rw +

[audacious : _player]
merge _basic _qt _xdg
ability posixipc
~/.config/audacious/			: rw +

[mpv : _player]
merge _basic
~/.config/mpv/ ~/.mpv/			: rw +
ability-deny prot_exec [_strict]
ioctl-deny 0x40087603 [_strict] # XXX

[mplayer : _player]
merge _basic
~/.mplayer/				: rw +

[vlc : _player]
merge _basic _qt _xdg
ability sysvipc
ability prot_exec
~/.config/vlc/				: rw +
~/.local/share/vlc/			: rw +

[xterm : _terminal]
# Dies with an X11 error when trying to select text under -X.
merge _crude _proc _cmds
ability cred

[urxvt : _terminal]
merge _crude _proc _cmds

[st : _terminal]
merge _crude _proc _cmds
merge! _pwddb

[wine, winecfg]
# NOTES:
#
# 1) wine will sometimes busy-loop trying to write some ~/.local files after
# installing an application.  Unticking the "Manage file associations" checkbox
# in the "Desktop Integration" tab of winecfg seems to help with that but
# doesn't completely stop it.
#
# 2) The 32-bits fontconfig wine uses for WoW64 won't be able to use the host's
# 64-bits system font cache, greatly slowing down wine's startup.  The 32-bits
# cache files can be pre-generated for the current user with this command:
#     LD_32_LIBRARY_PATH=~/.i386-wine-pkg/usr/local/lib ~/.i386-wine-pkg/usr/local/bin/fc-cache
#
# 3) wine will by default symlink its Windows "My Documents" folder to the
# user's UNIX home directory (and then symlink many other "My" folders to "My
# Documents").  Look in ~/.wine/drive_c/users/$USER/ and point "My Documents"
# to something usable.  Can also be changed in winecfg.
#
# 4) wine needs procfs(5) mounted.
#
# 5) Games most likely will need "trusted" X11 access and DRM access.
merge _basic
merge _fdpassdir
merge _compat32
merge _audio
ability prot_exec
/tmp/.wine-%u/ : rwu 0700
/proc/ : r
~/.wine/ : rw +
~/.i386-wine-pkg/ : rx
~/.cache/fontconfig/ : r


[_build]
/etc/make.conf
/usr/include/
/usr/local/include/ [_localbase]

[_ccache]
${CCACHE_DIR-/var/cache/ccache}/ : rw

[_ruby_gems]
$GEM_HOME/

[_ruby_gems_manage]
merge _build
$GEM_HOME/ : rwx +

[_python_pip]
$PYTHONUSERBASE/

[_python_pip_manage]
merge _build
ability chflags
$PYTHONUSERBASE/ : rwx +
#~/.cache/pip/ : rw + # sharing probably unsafe


[_ports_build]
merge _build
merge _pwddb
/usr/ports/
/usr/obj/usr/ports/			: rxw
/var/db/ports/				: rw
/usr/local/include/ [_localbase]

[_src_build]
merge _build
merge _pwddb
/etc/src.conf
/etc/src-env.conf
/usr/src/
/usr/obj/usr/src/			: rxw


# NOTES:
#
# Daemons that background themselves probably should be run under `curtain -f`.
#
# XXX Just running the daemon's main process under curtain might not be enough.
# - setuid binaries probably should be disabled (or be made to run under
#   curtain somehow).
# - The daemon should not ever be run unsandboxed using the same files
#   as the sandboxed daemon.
# - Daemon control/monitoring commands may be unsafe to run unsandboxed.
# - rc.d and periodic scripts should be audited for safety.

[sendmail : _daemon]
merge _basic
merge _login
merge _syslog
merge _shared_tmpdir # mail.local(8) uses /tmp directly
merge _setcred
sysctl vm.loadavg
/etc/mail/
/etc/aliases
/var/run/sendmail.pid : rw
/var/spool/{client,}mqueue/ : rw
/var/mail/ : rw
#~user/.forward

[exim : _daemon]
merge _basic
merge _login
merge _syslog
merge _fdpass
merge _setcred
ability chown
/etc/aliases
/usr/local/etc/exim/
/var/run/ : b
/var/run/exim.pid : rw
/var/spool/exim/ : rwu
/var/log/exim/ : rw
/var/mail/ : rw
#~user/.forward

[ftpd : _daemon]
merge _basic
merge _login
merge _syslog
merge _setcred
ability chown
/etc/ftpusers
/etc/ftpchroot
/etc/ftphosts
/etc/ftpwelcome
/etc/ftpmotd
/var/run/ : b # pidfile(3)
/var/run/ftpd.pid : rw
/var/log/ftpd : rw
~ftp/
#~user/ : rw

[samba : _daemon]
merge _basic
# NOTE: Needs `curtain -f`, will access the TMPDIR under different UIDs.
merge _login
merge _syslog
merge _fdpass
merge _setcred
ability chown
ability extattr acl quota
sysctl kern.corefile
/usr/local/etc/smb4.conf
/var/db/samba4/ : rwu 0755
/var/run/samba4/ : rwu 0755
/var/log/samba4/ : rw 0755
#/stuff/ : rw
#~user/ : rw

[ntpd]
merge _basic
merge _syslog
merge _pwddb
ability settime
sockaf-deny route [_strict]
/etc/ntp.conf
/etc/ntp/
/var/db/ntp/ : rw
/var/db/ntpd.leap-seconds.list : rw
[ntpd_unpriv : ntpd]
merge su
merge _setcred
ability chroot

