# Sample sandboxing profiles for some common applications.
#
# This is WIP and mostly intended for testing.
#
# VARIOUS NOTES:
#
# Unveil paths that end in "/" will be ignored if the path does not refer to an
# existing directory.  While it's possible to unveil a directory by name, the
# semantics are different, so these configurations attempt to consistently only
# do it one way.  Consequence is that applications' private directories must
# already exist before attempting to run them in a sandbox.
#
# Some applications actually require their "unsafe" permissions (directives
# suffixed with "!"), while some of them just work better with them.
#
# Menus and windows often have a thick black border in untrusted X11 mode.
# Windows from applications that try to use client-side decorations (most Gnome
# and XFCE applications by default) will not be movable.
#
# The file browsing dialogs will generally not react well to trying to browse
# outside of the unveiled areas (but doesn't seem to crash so far).
#
# Video players are greatly slowed down under untrusted X11 mode.  Fullscreen
# mode will not work.
#
# Under Wayland, some programs won't work without DRM access.
#
# fontconfig will complain about unwritable cache directories.
#
# dconf and dbus will be unusable.  Unveiling their paths probably works, but
# is probably too insecure to make the sandboxing even worth it.
#
# pulseaudio will be unusable, but thankfully some programs just start using
# OSS directly instead.


# XXX Those paths shouldn't be unveiled by default.

[_editor]
~/Documents/				: rw
~/Templates/				: rw

[_browser]
merge _audio
~/Downloads/				: rw

[_p2p]
~/Downloads/				: rw

[_player]
merge _audio
~/Music/				: r
~/Videos/				: r

[_viewer]
~/Pictures/				: r

[_terminal]
merge _pty


[_x11]
merge _sock
ability vfs_connect
sockaf unix

[_x11_trusted]
ability-gate sysvipc # MIT-SHM
merge _drm_render

[_x11_all]
${XAUTHORITY-~/.Xauthority}
/tmp/.X11-unix/ : u

[_wayland]
merge _drm_render

[_drm_base]
/dev/drm/				: rm
/dev/dri/				: rm
/dev/pci				: r
sysctl kern.devname
sysctl dev.drm
sysctl hw.dri
[_drm_full : _drm_base]
ability! any_ioctl # XXX
[_drm_render]
# Needs platform-dependent ioctls from libdrm.
# See /usr/share/examples/curtain/make-drm-render-conf.c

[_xdg]
~/.config/user-dirs.{dirs,locale}

[_gtk]
merge _xdg
# Seems like GTK-2 also will use this file.
~/.config/gtk-3.0/bookmarks


[_shell]
merge curtain

[sh, ksh, ksh93, mksh, oksh, dash, bash, zsh : _bourne]

[_bourne]
merge _basic

[_shell _bourne]
${ENV}					: r

[_login_shell _bourne]
/etc/profile				: r
/usr/local/etc/profile			: r

[_shell bash]
~/.bashrc				: r

[_login_shell bash]
~/.bash_profile				: r
~/.bash_logout				: r

[_shell zsh]
/usr/local/etc/zshenv			: r
/usr/local/etc/zshrc			: r
${ZDOTDIR:-~/}/.zshenv			: r
${ZDOTDIR:-~/}/.zshrc			: r

[_login_shell zsh]
/usr/local/etc/zprofile			: r
/usr/local/etc/zlogin			: r
/usr/local/etc/zlogout			: r
${ZDOTDIR:-~/}/.zprofile		: r
${ZDOTDIR:-~/}/.zlogin			: r
${ZDOTDIR:-~/}/.zlogout			: r

[csh, tcsh : _csh]

[_csh]
merge _basic

[_shell _csh]
/etc/csh.cshrc				: r
~/.{t,}cshrc				: r

[_login_shell _csh]
/etc/csh.log{in,out}			: r
~/.log{in,out}				: r

[_login]
merge _spwddb
/var/run/nologin
/var/run/motd
/etc/login.conf{,.db}
/etc/login.access
/etc/fbtab
/etc/shells
/etc/pam.{conf,d/}
[_login _localbase]
/usr/local/etc/pam.d/

[su : _login]
merge _basic
ability id any_id
ability audit
ability! rsugid_exec
merge _syslog

[doas : _login]
merge _basic
ability id any_id
ability! rsugid_exec
merge _syslog
[doas _localbase]
/usr/local/etc/doas.conf


[vi : _editor]
merge _crude _tty
~/.{n,}exrc				: r
/etc/vi.exrc				: r
# recovery handling needs to be able to read the user database
merge! _pwddb
path! /var/tmp/vi.recover/		: rw

[git]
merge _basic
~/.gitconfig				: r

[ping, ping6]
merge _basic _fdpass
ability id
priv net_raw netinet_raw
socklvl icmpv6

[traceroute, traceroute6]
merge _basic _fdpass
ability id
priv net_raw netinet_raw
sysctl net.inet.ip.ttl
sysctl net.inet6.ip6.hlim

[mtr]
merge _basic
ability id
priv net_raw netinet_raw

[tcpdump]
merge _basic
ability id
merge _bpf

[wireshark]
merge _basic _gtk
merge _bpf
~/.config/wireshark/			: rw +

[emacs : _editor]
merge _basic
# NOTE: Sometimes crashes with untrusted X11.
merge! _pwddb
~/.emacs.el				: rw
~/.emacs				: rw
~/.emacs.d/ ~/.config/emacs/		: rw +
[emacs _gui]
merge _gtk

[abiword : _editor]
merge _crude _gtk
~/.config/abiword/			: rw +

[gimp : _editor]
merge _crude _proc _cmds _gtk
ability sysvipc
/usr/local/etc/gimp/			: r
~/.config/GIMP/				: rw +
~/.cache/gimp/				: rw +

[inkscape : _editor]
merge _crude _gtk
ability posixipc
~/.cache/inkscape/			: rw +
~/.config/inkscape/			: rw +
/usr/local/bin/inkscape			: i

[libreoffice : _editor]
merge _basic _acl _xdg
ability prot_exec
merge! _pwddb
# LibreOffice ignores $TMPDIR for some things.
merge!! _unsafe_system_tmpdir
~/.config/libreoffice/			: rw +

[xpdf : _viewer]
merge _crude _xdg
/usr/local/etc/papersize		: r
/usr/local/etc/xpdfrc			: r
~/.xpdfrc				: rw

[gv : _viewer]
merge _crude _proc _cmds
merge! _shared_system_tmpdir
~/.gv					: r

[epdfview : _viewer]
merge _crude _gtk
~/.config/epdfview/			: rw +

[okular : _viewer]
merge _crude _xdg
~/.config/okularrc			: rw +
~/.local/share/okular/			: rw +

[geeqie : _viewer]
merge _crude _proc _ps _cmds _gtk
~/.config/geeqie/			: rw +
~/.local/share/geeqie/			: rw +
~/.cache/geeqie/			: rw +

[shotwell : _viewer]
merge _basic
# Has trouble saving its configs.
~/.shotwell/				: rw +
~/.local/share/shotwell/		: rw +
~/.cache/shotwell/			: rw +

[gpicview : _viewer]
merge _basic
~/.config/gpicview/			: rw +

[sxiv : _viewer]
merge _basic
~/.config/sxiv/				: rw +
~/.cache/sxiv/				: rw +

[hexchat]
merge _basic
~/.config/hexchat/			: rw +

[pidgin]
merge _basic
~/.purple/				: rw +

[firefox.base : _browser]
# NOTE: Sometimes crash due to X11 errors with -X.  Works better under -Y/-W.
# Run with GDK_BACKEND=wayland for -W.  When giving it DRM access, it sometimes
# doesn't activate until the second start.
merge _basic _fdpass _gtk
ability posixipc prot_exec
~/.mozilla/firefox/installs.ini
~/.mozilla/firefox/profiles.ini

[firefox : firefox.base]
# Gives access to ALL profiles.
~/.mozilla/firefox/			: rw +
~/.cache/mozilla/firefox/		: rw +

# If you have multiple profiles, you can run them in separate sandboxes.  See
# the sample firefox-profile1.desktop file in /usr/share/examples/curtain/.
# Create a copy of this file and a new section like the one below for each
# profile and update the profile names and paths.
#
# Copying the .desktop files to ~/.local/share/applications/ might be enough to
# make them available in your window manager's menu.
#
# Which profile a window belongs to will probably be hard to tell unless you
# change something in the profile to make it distinctive somehow.
#
# NOTE: You can create new profiles in Firefox by entering "about:profiles" in
# the address bar.
#
#[firefox-profile1 : firefox.base]
#~/.mozilla/firefox/XXXXXXXX.profile1/		: rw +
#~/.cache/mozilla/firefox/XXXXXXXX.profile1/	: rw +


[chrome : _browser]
# NOTE: When running chromium as an "untrusted" X11 client (curtain -X), the
# setting "Use system title bar and borders" in the "Appearance" section must
# be enabled.
merge _basic _fdpass _gtk
ability posixipc prot_exec sendfile
~/.config/chromium/			: rw +
~/.cache/chromium/			: rw +

[thunderbird]
merge _basic _fdpass _gtk
ability posixipc prot_exec
~/.thunderbird/				: rw +
~/.cache/thunderbird/			: rw +

[_webkit]
merge _fdpass
ability prot_exec

[falkon : _browser]
merge _basic _xdg
merge _webkit
~/.config/falkon/			: rw +
~/.cache/falkon/			: rw +

[otter-browser : _browser]
merge _basic _xdg
merge _webkit
~/.config/otter/			: rw +
~/.cache/Otter/				: rw +

[qbittorrent : _p2p]
merge _crude _unix _ps _network _xdg
# NOTE: Best to disable the tray icon feature under -X.
~/.local/share/qBittorrent/		: rw +
~/.config/qBittorrent/			: rw +
~/.cache/qBittorrent/			: rw +

[deluge : _p2p]
merge _basic
# XXX needs dbus
~/.config/deluge/			: rw +

[audacious : _player]
merge _crude _ps _xdg
~/.config/audacious/			: rw +

[mpv : _player]
merge _basic
~/.config/mpv/ ~/.mpv/			: rw +

[mplayer : _player]
merge _basic
~/.mplayer/				: rw +

[vlc : _player]
merge _basic _xdg
ability sysvipc
ability prot_exec
~/.config/vlc/				: rw +
~/.local/share/vlc/			: rw +

[xterm : _terminal]
# Dies with an X11 error when trying to select text under -X.
merge _crude _proc _cmds
ability id

[urxvt : _terminal]
merge _crude _proc _cmds

[st : _terminal]
merge _crude _proc _cmds
merge! _pwddb


[_devel]
/usr/include/
[_devel _localbase]
/usr/local/include/

[_ruby_gems]
$GEM_HOME/

[_ruby_gems_manage]
merge _devel
$GEM_HOME/ : rwx +

[_python_pip]
$PYTHONUSERBASE/

[_python_pip_manage]
merge _devel
ability chflags
$PYTHONUSERBASE/ : rwx +
#~/.cache/pip/ : rw + # sharing probably unsafe


[_ports_build]
merge _pwddb
/etc/make.conf
/usr/ports/
/usr/include/
/usr/obj/usr/ports/			: rxw
/var/db/ports/				: rw
[_ports_build _localbase]
/usr/local/include/

[_src_build]
merge _pwddb
/etc/make.conf
/etc/src.conf
/usr/src/
/usr/include/
/usr/obj/usr/src/			: rxw


# XXX It may not be enough just to run the daemons under curtain, the suid
# binaries and periodic scripts also should be run under curtain or disabled.

[sendmail : _daemon]
merge _basic
merge _login
merge _syslog
merge _shared_tmpdir # mail.local(8) uses /tmp directly
ability id any_id chown
/etc/mail/
/etc/aliases
/var/run/sendmail.pid : rw
/var/spool/{client,}mqueue/ : rw
/var/mail/ : rw
#~user/.forward

[exim : _daemon]
merge _basic
merge _login
merge _syslog
merge _fdpass
ability id any_id chown
/etc/aliases
/usr/local/etc/exim/
/var/run/ : b
/var/run/exim.pid : rw
/var/spool/exim/ : rwu
/var/log/exim/ : rw
/var/mail/ : rw
#~user/.forward

[ftpd : _daemon]
merge _basic
merge _login
merge _syslog
ability id any_id chown
/etc/ftpusers
/etc/ftpchroot
/etc/ftphosts
/etc/ftpwelcome
/etc/ftpmotd
/var/run/ : b # pidfile(3)
/var/run/ftpd.pid : rw
/var/log/ftpd : rw
~ftp/
#~user/ : rw

[samba : _daemon]
merge _basic
# NOTE: Needs `curtain -f`, will access the TMPDIR under different UIDs.
merge _login
merge _syslog
merge _fdpass
ability id any_id chown
ability extattr acl quota
sysctl kern.corefile
/usr/local/etc/smb4.conf
/var/db/samba4/ : rwu 0755
/var/run/samba4/ : rwu 0755
/var/log/samba4/ : rw 0755
#/stuff/ : rw
#~user/ : rw
